
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Wateral</title>

   
    @Styles.Render("~/Content/css")

    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  text-white bg-info fixed-top">
        <div class="container">
            <a href="~/Home/Index" class="navbar-brand">LOGO</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Noticia/Index">Noticias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/Producto/Index">Tienda</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/LineaCesta/miLinCesta">Mi Cesta <span class="badge badge-light">@Html.Action("Badge", "Cesta")</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Pedido/misPedidosCompletos">Historial de Pedidos</a>
                    </li>

                    <li class="nav-item">
                        <a href="~/Profesor/Details" class="nav-link">Mis clases</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="~/Mensaje/Index" class="nav-link">Mensajes <span class="mensaje badge badge-light">0</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="~/Profesor/Index" class="nav-link">Hola profesor @Session["UserName"].ToString()</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/LogOff">Salir</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer class="py-2 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Wateral 2017 &copy; Todos los derechos reservados.</p>
        </div>
        <!-- /.container -->
    </footer>
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    <script>

        $(document).ready(function () {



            function check_mensaje() {
                var url = "../mensaje/check";
                var ojo = window.location.href.split("/")
                if (ojo.length == 6) {
                    var url = "../../mensaje/check";
                }
                $.getJSON(url, {}, function (data) {
                    $("span.mensaje").html(data.num);
                });
            }
            check_mensaje();
            setInterval(check_mensaje, 20000);


        });


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

