@model IEnumerable<Escuela.Models.Pedido>

@{
    ViewBag.Title = "Mis Pedidos";
    
    if (ViewBag.Alumno)
    {
        Layout = "~/Views/Shared/_AluLayout.cshtml";
    }
    else
    {
        if (ViewBag.Profesor)
        {
            Layout = "~/Views/Shared/_ProfeLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
}

<h2 class="text-center">Mis pedidos</h2>


<div class="container col-sm-10">
    <div class="jumbotron">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dias)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @if (item.Dias != -1)
                        {
                            Html.DisplayFor(modelItem => item.Dias);
                        }
                        else
                        {
                            Html.DisplayText("-");
                        }

                    </td>


                </tr>
            }

        </table>
    </div>
</div>